/* button to create user */
.btn-navigate {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .btn-navigate:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }
  
  .btn-navigate:active {
    transform: scale(0.95);
  }

/* Users */
.user-list {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.user-list h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.user-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

@media (max-width: 768px) {
    .user-grid {
        grid-template-columns: 1fr
    }
}

.user-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-card h3 {
  color: #007bff;
  margin-bottom: 10px;
}

dl {
  margin: 0;
  padding: 0;
}

dl div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 1px dashed #ddd;
  padding-bottom: 5px;
}

dt {
  font-weight: bold;
  color: #555;
}

dd {
  margin: 0;
  color: #333;
}

.no-users {
  text-align: center;
  font-style: italic;
  color: #777;
}

/* Button to show user */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px auto;
  padding: 10px;
  max-width: 400px;
  flex-wrap: wrap;
  font-family: Arial, sans-serif;
}

.form-input {
  width: 100%;
  max-width: 250px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.2s ease-in-out;
}

.form-input:focus {
  outline: none;
  border-color: #007bff;
}

.form-button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.form-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

