<div style="width: 100%; text-align: center; margin-top: 20px">
  <button (click)="navigateToCreateUser()" class="btn-navigate">
    Crear Usuario
  </button>
</div>

<!-- info all users -->
<div *ngIf="usersToshow?.length > 0" class="user-list">
  <h2>Lista de Usuarios</h2>
  <div class="user-grid">
    <div *ngFor="let user of usersToshow" class="user-card">
      <h3>{{ user.name }}</h3>
      <dl>
        <div>
          <dt>Correo:</dt>
          <dd>{{ user.email }}</dd>
        </div>
        <div>
          <dt>Teléfono:</dt>
          <dd>{{ user.phone }}</dd>
        </div>
        <div>
          <dt>Dirección:</dt>
          <dd>{{ user.address?.street }}, {{ user.address?.city }}</dd>
        </div>
      </dl>
    </div>
  </div>
</div>
<div *ngIf="usersToshow?.length === 0" class="no-users">
  <p>No hay usuarios para mostrar.</p>
</div>

<!-- button to show user -->
<div class="form-container">
  <input
    type="number"
    [(ngModel)]="idUsuario"
    name="username"
    placeholder="Ingrese ID de usuario"
    class="form-input"
  />
  <button (click)="mostrarInfoUsuario()" class="form-button">
    Mostrar info usuario
  </button>
</div>

<!-- info one user selected -->
<div *ngIf="infoUser" class="user-card" style="max-width: 400px; margin: auto; margin-bottom: 30px;">
  <h2>Información del Usuario</h2>
  <dl>
    <div>
      <dt>Nombre:</dt>
      <dd>{{ infoUser?.name }}</dd>
    </div>
    <div>
      <dt>Correo:</dt>
      <dd>{{ infoUser?.email }}</dd>
    </div>
    <div>
      <dt>Teléfono:</dt>
      <dd>{{ infoUser?.phone }}</dd>
    </div>
    <div>
      <dt>Dirección:</dt>
      <dd>{{ infoUser?.address?.street }}, {{ infoUser?.address?.city }}</dd>
    </div>
  </dl>
</div>
